.git
.gitignore
.gitattributes

.venv
venv
env
ENV

__pycache__
*.py[codz]
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*
!.env.example

.vscode
.idea
.DS_Store

README.md
docker-compose.yml
Dockerfile
.dockerignore
